{% extends "library/layouts/flickr.html" %}
{% block page_subheader %}
{{ photo.title }} by <a href="http://www.flickr.com/photos/{{ photo.owner }}" target="_blank">{{ photo.owner }}</a><br />
License: <a href="{{ photo.license_url }}" target="_blank">{{ photo.license_text }}</a>
{% endblock %}
{% block content %}
<div id="photo">
  <a href="http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id}}" target="_blank">
    <img src="{{ photo.srcurl }}" alt="{{ photo.title }}" />
  </a>
</div>

<div id="features">
  <h4>SimpleGeo Polygons</h4>
  <ul>
    {% for f in photo.features.all %}
    <li><a href="features/{{ f.handle }}.html">{{ f.name }}</a> (<a href="types/{{ f.type.id }}.html">{{ f.type.name }}</a>, <a href="category/{{ f.category.id }}.html">{{ f.category }}</a>)</li>
    {% endfor %}
  </ul>
</div>

<div id="tags">
  <h4>Flickr tags</h4>
  <ul>
    {% for t in photo.tags.all %}
    <li>{{ t.tag }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
