{% extends "library/layouts/flickr.html" %}
{% block page_subheader %}{{ photo.title }} by {{ photo.owner }}{% endblock %}
{% block content %}
<div id="photo">
  <img src="{{ photo.srcurl }}" alt="{{ photo.title }}" />
</div>

<div id="features">
  <h4>SimpleGeo Polygons</h4>
  <ul>
    {% for f in photo.features.all %}
    <li><a href="features/{{ f.handle }}.html">{{ f.name }}</a> (<a href="types/{{ f.type.id }}.html">{{ f.type.name }}</a>, <a href="category/{{ f.category.id }}.html">{{ f.category }}</a>)</li>
    {% endfor %}
  </ul>
</div>

<div id="tags">
  <h4>Flickr tags</h4>
  <ul>
    {% for t in photo.tags.all %}
    <li>{{ t.tag }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
