{% extends "library/layouts/base.html" %}
{% block page_header %}SimpleGeo Demos{% endblock %}
{% block content %}
<p>All of the code for these demos is available at <a href="https://github.com/simplegeo/django-simplegeo-demos" target="_blank">https://github.com/simplegeo/django-simplegeo-demos</a>. Feel free to contribute!</p>
<ul>
    <li><a href="http://github.com/simplegeo/SimpleGeo-iPhone">SimpleGeo iPhone Demo App</a> (Coming Soon to App Store)</li>
    <li>SimpleGeo Context Flickr Photos Demo: <ul><li><a href="photos/types.html">by polygon type</a></li><li><a href="photos/categories.html">by polygon category</a></li></ul></li>
    <li><a href="places-google-maps">SimpleGeo Places on a Google Map</a></li>
    <li><a href="blackberry-checkin">Sample checkin app using SimpleGeo on the Blackberry Playbook</a></li>
</ul>
{% endblock %}
