{% extends "library/layouts/base.html" %}
{% block page_header %}SimpleGeo Demos{% endblock %}
{% block content %}
<p>All of the code for these demos is available
  at <a href="https://github.com/simplegeo/django-simplegeo-demos" target="_blank">https://github.com/simplegeo/django-simplegeo-demos</a>. Feel free to contribute!</p>
<h4>Running Flickr photos through <a href="https://simplegeo.com/products/context/" target="_blank">SimpleGeo Context</a></h4>
<ul>
  <li><a href="photos/types.html">By polygon type</a></li>
  <li><a href="photos/categories.html">By polygon category</a></li>
</ul>
{% endblock %}
