{% extends "library/layouts/base.html" %}
{% block page_header %}SimpleGeo Demos{% endblock %}
{% block content %}
<p>All of the code for these demos is available at <a href="https://github.com/simplegeo/django-simplegeo-demos" target="_blank">https://github.com/simplegeo/django-simplegeo-demos</a>. Feel free to contribute!</p>
<ul>
    <li>Running Flickr photos through SimpleGeo Context: <ul><li><a href="photos/types.html">by polygon type</a></li><li><a href="photos/categories.html">by polygon category</a></li></ul></li>
  <li><a href="places-google-maps">Displaying SimpleGeo Places on a Google Map</a></li>
</ul>
{% endblock %}
